/*
Theme Name: YuFK
Theme URI: http://tadatuta.com/
Description: Simple and beautiful.
Version: 1.0
Author: tadatuta
Tags: simple
*/

* {margin:0;padding:0;}

body 
{background:#fff url(i/header.jpg) no-repeat center 0;
font-family:"Times New Roman", times, serif;
font-size:16px;
color:#262626;}

a {color:#2e3192;}

a:hover {color:#de9200;}

#wrap
{width:1000px;
margin:auto;
}

#header
{height:174px;
padding:15px 0 0 0;
position:relative;}

#logo
{width:140px;
height:90px;
display:block;
text-indent:-250px;
overflow:hidden;
margin:20px 0 0 39px;
}

#slogan
{width:133px;
margin:-4px 0 0 39px;
text-align:center;
color:#2e3192;
font-size:14px;
}

#s
{color:#fff;
margin:11px 0 0 46px;
background:transparent;
border:1px solid #3e4199;
padding:1px 0 2px 5px;
font-family:arial;
font-size:12px;}

#search_button
{width:35px;
height:20px;
border:none;
cursor:pointer;
background:url(i/search.gif) no-repeat center center;}

#lang
{position:absolute;
left:928px;
top:15px;
width:26px;
text-align:right;
}


.spisok
{position:relative;
left:44px;
}

#lang a
{color:#e5a833;
font-size:13px;}

#nav
{padding:0 0 0 46px;}

#nav li
{float:left;
position:relative;
list-style:none;
font-size:19px;
margin:0 46px 0 0;}

.current_page_item a, .current-cat a
{cursor:default;
text-decoration:none;}



#nav ul
{display:none;
position:absolute;
width:182px;
padding:15px 10px 10px 20px;
background:#fff;
}

#nav li:hover ul, #nav ul:hover
{display:block;
z-index:99;}

#nav li li
{float:none;
margin:0 0 5px 0;
font-size:14px;}

#content_wrap
{border-bottom:2px solid #2e3192;
margin:40px 0 2px 0;}

#content
{padding:0 46px 65px 46px;}

h2
{margin:31px 0 13px 0;
font-weight:normal;
font-size:24px;}

.alignleft
{float:left;
margin:0 10px 10px 0;}

#news
{overflow:hidden;}

.news
{float:left;
width:223px;
padding:0 231px 0 0;}

h3
{font-weight:normal;
font-size:16px;}

.date
{font-weight:bold;}

#footer
{padding:22px 46px 18px 46px;
border-top:1px solid #2e3192;
font-size:14px;
background:url(i/logo.png) no-repeat 646px 21px;}

#copyright
{float:left;
width:228px;
padding:36px 480px 20px 0;}