/*
Theme Name: YuFKv2
Theme URI: http://tadatuta.com/
Description: Simple and beautiful.
Version: 2.0
Author: tadatuta
Tags: simple
*/
html{
    height: 100%;
}
body{
	margin: 0;
    background: #eff4f8;
    font-family: 'PT Sans', sans-serif;
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

img{
	border-style: none;
	vertical-align: top;
}
ul{
	margin:0;
	padding:0;
    list-style: none;
}
a{
	text-decoration: none;
	outline: none !important;
}
a:hover{
	text-decoration: none !important;
}
address{
	font-style: normal;
	padding: 0;
}
dl, dd{
	margin:0;
}
p, h1, h2, h3, h4, h5{
	margin:0;
}
img, div { behavior: url("../js/pngbehavior.htc"); }
/*----------------------------------------*/
#wrapper{
	width: 960px;
	margin: 0 auto;
    overflow: hidden;
    min-height: 100%;
    position: relative;
}

            /*HEADER*/
.header{
	width: 100%;
	overflow: visible;
}
.header-line{
    background: -webkit-linear-gradient(90deg, #0aa30d, #35ba3a, #0aa30d);
    background: -moz-linear-gradient(90deg, #0aa30d, #35ba3a, #0aa30d);
    background: -o-linear-gradient(90deg, #0aa30d, #35ba3a, #0aa30d);
    background: -ms-linear-gradient(90deg, #0aa30d, #35ba3a, #0aa30d);
    background: linear-gradient(90deg, #0aa30d, #35ba3a, #0aa30d);
    border-bottom: solid 1px rgba(0,0,0,0.4);
	height:10px;
	position: relative;
	margin: 0 0 10px 0;
    -webkit-box-shadow: 0 -5px 5px 5px #000;
    -moz-box-shadow: 0 -5px 5px 5px #000;
    box-shadow: 0  -5px 5px 5px #000;
    //background: #00a400;
}
.logo-min{
    float: left;
    margin: 15px 0 0 0;
    width: 75px;
    height: 58px;
    background: url(img/logo-min.png) no-repeat;
}
.menu-nav{
	overflow: visible;
    margin: 24px 0 0 105px;
    position: relative;
}
.inside-nav{
    margin: 50px 0  0 105px;

}
.menu-nav li{
	float: left;
	margin: 0 50px 0 0;
}
.menu-nav li a{
	display: block;
    text-decoration: underline;
    color: #009200;
    font-size: 16px;
}
.logo{
    margin: 85px 0 0 418px;
    //margin: 90px 0 0 418px;
    width: 125px;
    height: 97px;
    background: url(img/logo.png) no-repeat;

}
.header_slogan_text{
    font-family: 'PT Serif'  sans-serif;
    //font-family: 'Times New Roman'  sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin: 10px  auto;
    color: #009200;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .header_slogan_text{
        background: -webkit-linear-gradient(left, #30364c, #178620, #363f5e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/**********************/

.menu-nav ul{
    display: none;
    position:absolute;
    margin: 20px 0 0 0;
    top: 0;
    left: 215px;
    width:230px;
    padding:15px 10px 10px 15px;
    z-index: 2;
    overflow: visible;
    background: #eff4f8;
    -webkit-box-shadow: 0px 7px 20px rgba(42, 22, 20, 0.95);
    -moz-box-shadow: 0px 7px 20px rgba(42, 22, 20, 0.95);
    box-shadow: 0px 7px 20px rgba(42, 22, 20, 0.95);
}

.cat-item-3:hover ~ ul, .menu-nav ul:hover{
    display: block;
}

.menu-nav ul li a{
    float:none;
    margin:0 0 5px 0;
    font-size: 14px;

}
.curent-main{
    margin:0 0 5px 0;
    font-size: 16px;
    color: #000;
    cursor: default;
}
.post-item{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    margin: 0 0 30px 0;
    border-top: 1px solid #9a9a9a;
    padding: 10px 0 0 0;
}
.post-item a{
    text-decoration: underline;
}

.about-list{
    margin: 20px 0 20px 10px;
}
.about-list li{
    background: url(img/list-dot.jpg) no-repeat top 10px left 0;
    padding: 0 0 0 10px;
}
.current_page_item a, .current-cat a{
    color: #000 !important;
    text-decoration: none !important;
}
/***********************/
            /*CONTENT*/
.content{
    margin: 140px 0 0 0 ;
    overflow: hidden;
    clear: both;
}
.content:after{
    content:"";
    display:block;
    clear:both;
    visibility:hidden;
}
.content-inside{
    margin: 60px 0 0 0 ;
    padding:  0 0 40px 0 ;
}
.left-side{
    width: 325px;
    float: left;
}
.content-side-left{
    float: left;
}
.content-side-right{
    float: right;
    width: 445px;
    margin: 60px 0 0 0;
}
.img-block{
    margin: 60px 0 0 0 ;
    font-size: 13px;
}
.img-block p{
    margin: 20px 0 0 0 ;
}
.img-block img{
    float: left;
    margin: 5px 20px 0 0 ;
}
h2{
    font-family: 'PT Serif', serif;
    //font-family: 'Times New Roman';
    font-family: 'Times New Roman', serif \0/;
    font-size: 23px;
    font-weight: normal;
    //margin: 0 0 20px 0;
    margin: 0 0 20px 0;

}
h2.content-title-tag{
    width: 325px;
}
.content-sub-title{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    width: 325px;
    margin: 40px 0 -10px 0;
}
.content-menu li{
    background: url(img/list-dot.jpg) no-repeat top 10px left 0;
    //background: url(img/list-dot.jpg) no-repeat left 7px;
}
.content-menu li a{
    color: #009200;
    font-style: italic;
    font-size: 16px;
    display: block;
    margin: 10px 0 0 20px;
    //margin: -5px 0 0 20px;
    text-decoration: underline;

}
.right-side{
    float: right;
    width: 600px;
    //overflow: hidden;
}
.right-side a, .footer a{
    color: #4b2ca1 !important;
    text-decoration: underline;
}

        /*CONTACTS*/
.content-post{
    width: 450px;
    font-size: 16px;
    margin: 20px  0 0 0;
}
.post-float{
    float: left;
}
.content-post-it{
    font-style: italic;
}
.contacts{
    margin: 0 0 0 25px;
    line-height: 1.7;
    width: 487px;
    //width: 495px;
    font-size: 16px;
}
.contacts p {
    //width: 295px;
}
.contacts a{
    font-style: italic;
    text-decoration: underline;
    //font-size: 14px;

}
.contact-img{
    float: left;
    margin: 0 35px 0  0;
}
.phone-num{
    font-style: italic;
    //font-size: 15px;

}

        /*NEWS*/
.company-news{
    margin: 10px 0 0 25px;
}
.news-list{
    overflow: hidden;
    margin: 5px 0  0 -87px;
}
.news-list li{
    font-size: 13px;
    float: left;
    position: relative;
    width: 130px;
    margin: 0 0 0 87px;
}
.news-list li.first{
    margin: 0;
}
.news-data{
    font-size: 11px;
    color: #9fb2be;;
}
.news-content{
    margin: 130px 0 0 0;
    line-height: 1.5;
}
.news-list li a{
}
.news-list li a img{
    position: absolute;
    top: 20px;
    left: 0;
    max-width: 130px;
    height: auto;
    max-height: 114px;
    width: auto;
}
.more-news{
    clear: both;
    background: url(img/stripe.jpg) repeat-x top 10px left 0;
    //background: url(img/stripe.jpg) repeat-x left 7px;
    width: 600px;
    margin: 10px 0 0 0;
    padding: 0 0 0 200px;
}
.more-news span, .more-news a{
    background: #eef3f7;
    display: inline-block;
    padding:  0 0 0 5px;
    font-size: 13px;
    color: #9fb2be;
}
.more-news a{
    margin: 0 20px 0 0;
}
.clear{
    clear: both;
    height: 170px;
}
        /*FOOTER*/
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0 40px 0;
    width: 960px;
    height: 50px;

}
.footer-inside{
    border-top: 1px solid #c1c4c5;
    //margin: 610px 0 0 0;

}
.credits{
    float: left;
    font-size: 13px;
}
.search-input{
    width: 180px;
    height: 15px;
    padding: 5px;
    border-radius: 3px;
    float: left;
    color: #9fb2be;
    margin: -10px 0 0 140px;
    //margin: -30px 0 0 400px;
}
.search-button{
    height: 28px;
    width: 80px;
    border: 1px solid #a4a9ad;
    border-radius: 3px;
    float: left;
    cursor: pointer;
    margin: -10px  0  0 10px;
    //margin: -30px  0  0 10px;
    background: -webkit-linear-gradient(180deg, #e7f1fa, #e9eef2, #dae1e7, #e6ebef);
    background: -moz-linear-gradient(180deg, #e7f1fa, #e9eef2, #dae1e7, #e6ebef);
    background: -o-linear-gradient(180deg, #e7f1fa, #e9eef2, #dae1e7, #e6ebef);
    background: -ms-linear-gradient(180deg, #e7f1fa, #e9eef2, #dae1e7, #e6ebef);
    background: linear-gradient(180deg, #e7f1fa, #e9eef2, #dae1e7, #e6ebef);

}
.tadatuta-link{
    float: right;
    font-size: 13px;
}
.cboxElement 
{
     margin: 5px;
}